:root {
  /*variables*/
  --form-color: #ffff;
  --button-color: #45446e;
  --font-color: #2D2C55;
  --input-color: #d8d2d2;
  --alt-color: #7EB0CC;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  
  color: var(--font-color); 
  font-weight: 300;
  font-size: 1rem;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

ul{
  list-style: none;
}

li{
  transition: ease 0.3s;
}

li:hover{
  color: var(--font-color);
  text-shadow: 0px 5px 20px var(--font-color);
}




