/*REPONSIVE DESIGN*/
@media (min-width: 319px) and (max-width: 480px){
    .nav{ 
    justify-content: center;
    }

    .fontmain .title{
    font-size: 30px;
    }
}

/*MAIN HOMEPAGE*/
.fontmain{
    display: flex;
    flex: 1;
    color: var(--colorfont2);
    font-size: 50px; 
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.fontmain .title {
    display: flex;
    flex-direction: row;
}

/*BACKGROUND (FONDO DE PANTALLA)*/
.BodyHP {
    display: flex;
    position: relative;
    background-image: url("../assets/layered-waves-haikei.svg");
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center center;
    background-attachment: fixed;
}
