/*NAVBAR HOMEPAGE*/
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: var(--font-color) ;
    justify-content: end;
    align-items: center;
    border-bottom: solid;
    border-color: var(--alt-color);
    z-index: 100;
    top: 0;
    right: 0;
}

.letternv {
    display: flex;
    margin: 1.0rem;
    color: var(--colorfont2);
    font-family: var(--stylefont1);
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: aquamarine;
    transition: ease 350ms;
}

.letternv:hover{
    color: var(--alt-color);
    transform: scale(1.4);
}


/*MAIN HOMEPAGE*/
.fontmain{
    display: flex;
    color: var(--colorfont2);
    font-size: 50px; 
    margin: 0px;
    justify-self: center;
    z-index: 1;
}

.fontmain .title {
    display: flex;
    flex-direction: row;
}

.mainhp{
    display: flex;
    position: absolute;
    top: 45px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*FOOTER HOMEPAGE*/
.footerhp{
display: flex;
background-color: aqua;
width: 100%;
flex-direction: column;
}

.footerhp section{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: start; 
}

.luissc{
border-bottom: solid;
}

.namesc{
display: flex;
align-self: flex-start;
}

/*BACKGROUND (FONDO DE PANTALLA)*/
.BodyHP {
    display: flex;
    position: relative;
    background-image: url("../assets/layered-waves-haikei.svg");
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
}
