.formulario input{
    color: #45446e;
    border-radius: 0.4rem;
    background-color: #d8d2d2;
    height: 30px;
    border-style: none;
}

.Pform{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/blob-scene-haikei.svg");
    background-size: cover;
    background-position: center center;
}

.formulario{
    border-radius: 0.5rem;
    color: #2D2C55;
    display: flex;
    flex-direction: column; 
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 2rem;
    background-color: #fff;
}

.show-pass{
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
}
  
.inputs {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    margin-bottom: 1rem;
    padding: 0.1rem;
}

.inputs input {
padding-left: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--font-color);
    padding: 0.1rem;
    border-radius: 0.4rem;
    height: 35px;
    margin-top: 0.7rem;
    transition: ease 350ms;
}

.fontlink {
    color: #fff;
    font-size: medium;
    text-decoration: none;
}

.form-content{
    display: flex;
    flex-direction: column;
}

.formulario button{
    color: #fff;
    border-style: none;
    background-color: #2D2C55;
    border-radius: 0.4rem;
    height: 35px;
    margin-top: 0.7rem;
    font-size: medium;
    transition: ease 350ms;
}


.formulario button:hover{
    background-color: #7EB0CC;
    box-shadow: 0px 10px 40px #2D2C55;
    color: #2D2C55;
}

.links:hover{
    background-color: #7EB0CC;
    box-shadow: 0px 10px 40px #2D2C55;
    color: #2D2C55;
}

div .inputs {
    text-align: left;
}