/*REPONSIVE DESIGN*/
@media (min-width: 319px) and (max-width: 480px){
    .nav{ 
    justify-content: center;
    }

    .fontmain .title{
    font-size: 30px;
    }
}

/*NAVBAR HOMEPAGE*/
.nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    background-color: var(--font-color) ;
    align-items: center;
    border-bottom: solid;
    border-color: var(--alt-color);
    z-index: 100;
    top: 0;
    right: 0;
}

.letternv {
    display: flex;
    margin: 1.0rem;
    color: var(--colorfont2);
    font-family: var(--stylefont1);
    font-size: 20px;
    text-decoration: none;
    transition: ease 350ms;
}

.letternv:hover{
    color: var(--alt-color);
    transform: scale(1.4);
}
